@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --primary-color-dark: rgb(31, 62, 92);
  --primary-color-light: rgb(234, 134, 27);

  --text-color: #4e555c;
  --text-color-light: rgb(163, 164, 168);
  --text-color-darker: rgb(45, 46, 51);
}

html {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

button {
  font: inherit;
  color: inherit;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
}

.accent {
  color: rgb(234, 134, 27);
}

.btn {
  padding: 0 25px;
  line-height: 38px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  border-radius: 500px;
  background-color: var(--primary-color-dark);
  color: white;
  display: inline-block;
  border: 0.8px solid var(--primary-color-dark);
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: var(--primary-color-dark) !important;
}

.btn-light {
  background-color: var(--primary-color-light);
  border: 0.8px solid var(--primary-color-light);
}

.btn-light:hover {
  color: var(--primary-color-light) !important;
}

.btn_no-border {
  border: none;
}

/*------------ header------------- */

header {
  color: #28333e;
}

.header__first-row {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e7;
  position: relative;
}

header .logo {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
}

.logo p {
  margin: 0;
}

.logo__name {
  color: var(--primary-color-light);
  font-size: 28px;
  font-weight: 600;
}

.logo__text {
  font-size: 20px;
}

/* ----------navigation---------- */

.menu__btn {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.menu__btn span {
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__btn:hover span {
  background-color: var(--primary-color-light);
}

.menu__list {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  font-size: 19px;
}

.menu__list a:hover {
  color: var(--primary-color-light);
}

.menu__list .current-page {
  color: var(--primary-color-light);
}

.menu__list li {
  position: relative;
  list-style: none;
  float: left;
}

.services-dropdown-content {
  display: none;
  position: absolute;
  right: -120px;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.services-dropdown:hover .services-dropdown-content {
  display: block;
}

.services-dropdown-content img {
  max-width: 234px;
  height: auto;
}

.submenu-container {
  display: flex;
  align-items: flex-start;
}

.submenu-list-container {
  padding: 40px;
}

.submenu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.submenu-item {
  flex: 50%;
  color: #6c6d74;
  line-height: 1.5;
}

.submenu-item img {
  width: 50px;
  margin-right: 10px;
}

.submenu-item a {
  display: flex;
  align-items: center;
}
.all-services {
  display: inline-block;
  margin-top: 40px;
}

.all-services span {
  transform: scaleX(1);
  display: inline-block;
  transition: all 150ms ease;
}

.all-services:hover span {
  transform: scaleX(1.5);
  transform-origin: center left;
}

.menu__messenger-list {
  display: none;
}

/* ----------header contacts --------- */

.header__inner-dark {
  background-color: #acacac;
  color: white !important;
}

.header__second-row {
  padding: 10px 0;
}

.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-left: 18px;
  line-height: 1.5;
  font-size: 14px;
}

.header__contacts-item--small {
  flex-shrink: 3;
}

.header__contacts p {
  margin: 0;
  color: white !important;
  font-size: 15px;
}

.header__contacts-phone {
  position: relative;
  font-weight: 500;
  font-size: 17px;
}

.header__contacts-phone::before {
  content: '';
  background: url(../images/icons/phone-flip.png) no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: -18px;
}

.header__contacts-email,
.header__contacts-address {
  position: relative;
}

.header__contacts-email::before {
  content: '';
  background: url(../images/icons/envelop.png) no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 5px;
  left: -18px;
}

.header__contacts-address::before {
  content: '';
  background: url(../images/icons/house-building.png) no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: -20px;
}

.header__contacts-working-hours {
  color: var(--text-color-light);
  font-size: 14px;
}

.header__contacts-messenger {
  display: inline-block;
  margin-left: 8px;
}

.header__contacts-messenger img {
  width: 35px;
  transition: all 0.2s ease-in-out;
}

.header__contacts-messenger:hover img {
  transform: scale(1.2); 
}

/* ----------------footer------------ */

.footer {
  background-color: #1f3e5c;
}

.footer__inner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 60px;
  color: #ffffff66;
  justify-content: space-between;
  font-weight: 400;
  line-height: 1.74;
  position: relative;
}

.footer-item h3 {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  margin-top: 10px;
}

.footer-item a:hover {
  color: white;
}

.messenger-list {
  margin-top: 30px;
}

.messenger-list img {
  width: 35px;
}

.messenger-list a {
  display: inline-block;
  margin-right: 10px;
}

.messenger-list a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.btn-top {
  display: inline-block;
  padding: 9px 12px;
  background: rgb(234, 134, 27);
  height: 42px;
  position: absolute;
  bottom: 66px;
  right: 50px;
  border: none;
  cursor: pointer;
}

.btn-top img {
  height: 22px;
  display: inline-block;
}

.btn-top:hover {
  background: #d07a1e;
}

/* ---------------media-------------- */
@media (max-width: 1100px) {
.footer__inner {
  padding: 60px 0;
}
}



@media (max-width: 960px) {
  .menu__btn {
    display: flex;
  }

  .menu__btn.menu--open span {
    background-color: var(--primary-color-light);
  }

  .menu__btn.menu--open span:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  .menu__btn.menu--open span:nth-of-type(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }

  .menu__btn.menu--open span:nth-of-type(2) {
    opacity: 0;
  }

  .header__first-row {
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
  }

  .menu__list {
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 0;
    padding: 0;
    max-height: 0;
    transition: max-height 0.5s ease;
  }

  .menu__list.menu--open {
    max-height: 600px;
  }

  .menu__item {
    border-top: 1px solid #e5e5e7;
    padding: 10px 0;
    width: 100%;
  }

  .menu__item:first-child {
    padding-top: 30px;
  }

  .menu__item:first-child,
  .menu__item:last-child {
    border-top: none;
  }

  .services-dropdown-content {
    position: static;
    display: block;
    width: 100%;
    box-shadow: none;
  }

  .submenu-container img {
    display: none;
  }

  .submenu-list-container {
    padding: 0;
  }

  .submenu-list {
    grid-template-columns: none;
    gap: 0;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
  }

  .submenu-list a {
    color: #797a7d;
    padding: 6px 0;
  }

  .all-services {
    display: none;
  }

  .header__contacts-messenger-list {
    display: flex;
  }

  .header__contacts-messenger {
    margin: 0;
  }

  .footer-item {
    flex: 0 0 50%;
  }

  .footer-item:last-of-type {
    margin-top: 40px;
  }

}

@media (max-width: 670px) {
  .menu__messenger-list {
    display: block;
    margin-top: 20px;
  }
  .menu__messenger-list .header__contacts-messenger {
    margin-left: 8px;
  }
  .header__contacts {
    flex-direction: column;
    text-align: center;
    gap: 10px 0;
  }

  .header__contacts .header__contacts-messenger-list {
    display: none;
  }

  .header__contacts-phone::before {
    left: 8px;
  }

  .footer__inner {
    margin-right: 0px;
    padding: 60px 0;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }


  .btn-top {
    padding: 9px 12px;
    bottom: 64px;
    right: 5px;
  }

  .footer-item {
    flex: 0 0 100%;
  }

  .footer-item:last-of-type {
    margin-top: 0;
  }

}
